<link rel="import" href="../../../../polymer-elements/polymer-selector/polymer-selector.html">
<link rel="import" href="td-list.html">
<element name="td-todos" attributes="todos filter">
  <template>
    <section id="todoapp">
      <header id="header">
        <input id="new-todo" placeholder="What needs to be done?" autofocus on-keypress="keypress">
      </header>

      <section id="main" showing="{{hasItems}}">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <td-list items="{{todos.filtered}}" on-destroyitem="destroyItem" on-itemchanged="itemChanged"></td-list>
      </section>

      <footer id="footer">
        <span id="todo-count"><strong>{{todos.activeCount}}</strong> {{countText}}</span>

        <polymer-selector id="filters" selected="{{filter}}">
          <li name="all"><a href="../#/">All</a></li>
          <li name="active"><a href="../#/active">Active</a></li>
          <li name="completed"><a href="../#/completed">Completed</a></li>
        </polymer-selector>

        <button id="clear-completed" showing="{{hasCompleted}}" on-click="clearAction">Clear completed ({{todos.completedCount}})</button>
      </footer>
    </section>
  </template>
  <script>
    Polymer.register(this, {
      filter: '',
      applyAuthorStyles: true,
      ready: function() {
        this.todos = new Todos();
      },
      update: function() {
        this.todos.itemsChanged();
        this.hasItems = Boolean(this.todos.items.length);
        this.hasCompleted = Boolean(this.todos.completedCount);
        this.countText = ' item' + (this.todos.activeCount == 1 ? '' : 's')
            + ' left';
      },
      filterChanged: function() {
        this.todos.filter = this.filter;
        this.update();
      },
      itemChanged: function( ){
        this.update();
      },
      keypress: function(inEvent, inDetail, inSender) {
        var ENTER_KEY = 13;
        if (inEvent.charCode == ENTER_KEY) {
          this.todos.newItem(inSender.value);
          inSender.value = '';
        }
      },
      clearAction: function() {
        this.todos.clearItems();
      },
      destroyItem: function(inEvent, inItem) {
        this.todos.destroyItem(inItem);
      }
    });
  </script>
</element>