<link rel="import" href="../../../../toolkit-ui/elements/g-selector.html">
<link rel="import" href="td-list.html">
<element name="td-todos" attributes="todos filter activeCount">
  <template>
    <section id="todoapp">
      <header id="header">
        <input id="new-todo" placeholder="What needs to be done?" autofocus on-keypress="keypress">
      </header>

      <section id="main" showing="{{hasItems}}">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <td-list items="{{todos.filtered}}" on-destroyitem="destroyItem" on-itemchanged="itemChanged"></td-list>
      </section>

      <footer id="footer">
        <span id="todo-count"><strong>{{activeCount}}</strong> {{countText}}</span>

        <g-selector id="filters" selected="{{filter}}">
          <li name="all"><a href="../#/">All</a></li>
          <li name="active"><a href="../#/active">Active</a></li>
          <li name="completed"><a href="../#/completed">Completed</a></li>
        </g-selector>

        <button id="clear-completed" showing="{{hasCompleted}}" on-click="clearAction">Clear completed ({{todos.completedCount}})</button>
      </footer>
    </section>
    
  </template>
  <script>
    Polymer.register(this, {
      applyAuthorStyles: true,
      todos: null,
      filter: '',
      activeCount: 0,
      activeCountChanged: function() {
        this.countText = ' item' + (this.activeCount == 1 ? '' : 's') + ' left';
        this.hasCompleted = Boolean(this.todos.completedCount);
      },
      itemChanged: function( ){
        this.todos.itemsChanged();
      },
      keypress: function(inEvent, inDetail, inSender) {
        var ENTER_KEY = 13;
        if (inEvent.charCode == ENTER_KEY) {
          this.todos.newItem(inSender.value);
          inSender.value = '';
        }
      },
      clearAction: function() {
        this.todos.clearItems();
      },
      destroyItem: function(inEvent, inItem) {
        this.todos.destroyItem(inItem);
      }
    });
  </script>
</element>
